mat-form-field {
    width: 100%;
    min-width: 300px;

  }

  mat-card-title{
    padding-bottom: 40px;
    font-size: 30px;
  }
  mat-card{
    border-radius:50px;
    width: 400px;
    height: 600px;
    justify-content: center;
  }
  mat-card-title,
  mat-card-content{
    display: flex;
    justify-content: center;
  }

  .sample{
    background-color: rgb(245, 204, 204);
    justify-self: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: center;
    
  }
.LoginButton{
  width: 100%;
  min-width: 300px;
  background-color: #0077b6; 
}

.SignUp {
  display: flex;
  justify-content: center;
  margin-top: 60px;

}
